h1 {
  background-color: grey;
  padding: 10px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e0f7fa;
}
#weather-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#weather-location {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#weather-details {
  margin-top: 20px;
}
#map {
  height: 300px;
  width: 100%;
  margin-top: 20px;
  border-radius: 8px;
  
}   

#weather-details p {
  font-size: 16px;
  margin: 5px 0;
}
#weather-background {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 100px;
}