*, *::before, *::after {
  box-sizing: border-box;
}

h1 {
  background-color: grey;
  padding: 12px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  border-radius: 6px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #93ebf7;
}
#weather-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#weather-location {
  width: 100%;
  max-width: 500px;
  padding: 12px;
  margin: 15px auto;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#weather-details {
  margin-top: 20px;
}
#map {
  height: 300px;
  width: 100%;
  margin-top: 20px;
  border-radius: 8px;
  
}   

#weather-details p {
  font-size: 16px;
  margin: 5px 0;
}
#weather-background {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 40px;
}
#weather-info {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 

#weather-info p {
  font-size: 16px;
  margin: 6px 0;
}

#googleMap {
  height: 400px;
  width: 100%;
  margin: 20px auto;
  border-radius: 8px;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#weather-background::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: -1;
}