/* Stlying for the header white text with a purple shadow and grey background */
h1 {
  background-color: grey;
  padding: 12px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #b940f15b;
  border-radius: 6px;
}

/* Styling for the body with default blue colour when the dynamic image is not available */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0px;
  background-color: #93ebf7;
}


/* Styling for auto input city box */
#weather-location {
  width: 100%;
  max-width: 500px;
  padding: 12px;
  margin: 15px auto;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


/* styling for dynamic  background image */
#weather-background {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 40px;
}

/* styling for contains in weather details display box */
#weather-info {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* styling for scripts in weather details display box */
#weather-info p {
  font-size: 16px;
  margin: 6px 0;
}

/* styling for google map */
#googleMap {
  height: 400px;
  width: 100%;
  margin: 20px auto;
  border-radius: 8px;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#weather-background::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: -1;
}